USE [HotelBookingDB]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 5.01.2019 16:44:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingId] [int] IDENTITY(1,1) NOT NULL,
	[HotelId] [int] NULL,
	[RoomId] [int] NULL,
	[FromDate] [datetime] NULL,
	[ToDate] [datetime] NULL,
	[Price] [decimal](8, 2) NULL,
	[AdultCount] [int] NULL,
	[ChildCount] [int] NULL,
	[CustomerId] [int] NULL,
	[IsPaid] [bit] NULL,
	[PaymentType] [int] NULL,
	[InsertedDate] [datetime] NULL,
 CONSTRAINT [PK_Bookings] PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CountryV10]    Script Date: 5.01.2019 16:44:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CountryV10](
	[CountryId] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](500) NULL,
 CONSTRAINT [PK_CountryV10] PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 5.01.2019 16:44:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[NameSurname] [nvarchar](max) NULL,
	[Email] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[BirthDate] [date] NULL,
	[Phone] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[CountryId] [int] NULL,
	[CityId] [int] NULL,
	[Status] [int] NULL,
	[InsertedDate] [datetime] NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DistrictV10]    Script Date: 5.01.2019 16:44:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DistrictV10](
	[DistrictId] [int] IDENTITY(1,1) NOT NULL,
	[CountryId] [int] NULL,
	[TownId] [int] NULL,
	[DistrictName] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_DistrictV10] PRIMARY KEY CLUSTERED 
(
	[DistrictId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HotelComments]    Script Date: 5.01.2019 16:44:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HotelComments](
	[HotelCommentId] [int] IDENTITY(1,1) NOT NULL,
	[HotelId] [int] NULL,
	[CustomerId] [int] NULL,
	[Title] [nvarchar](max) NULL,
	[Comment] [nvarchar](max) NULL,
	[Rating] [decimal](2, 1) NULL,
	[Status] [int] NULL,
	[InsertedDate] [datetime] NULL,
 CONSTRAINT [PK_HotelComments] PRIMARY KEY CLUSTERED 
(
	[HotelCommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HotelPhotos]    Script Date: 5.01.2019 16:44:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HotelPhotos](
	[HotelPhotoId] [int] IDENTITY(1,1) NOT NULL,
	[HotelId] [int] NULL,
	[Photo] [nvarchar](max) NULL,
	[Status] [int] NULL,
	[OrderNumber] [int] NULL,
	[InsertedDate] [datetime] NULL,
 CONSTRAINT [PK_HotelPhotos] PRIMARY KEY CLUSTERED 
(
	[HotelPhotoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HotelProperties]    Script Date: 5.01.2019 16:44:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HotelProperties](
	[HotelPropertyId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Icon] [nvarchar](50) NULL,
	[Status] [int] NULL,
	[InsertedDate] [datetime] NULL,
 CONSTRAINT [PK_HotelProperties] PRIMARY KEY CLUSTERED 
(
	[HotelPropertyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HotelPropertyConnects]    Script Date: 5.01.2019 16:44:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HotelPropertyConnects](
	[HotelPropertyConnectId] [int] IDENTITY(1,1) NOT NULL,
	[HotelId] [int] NULL,
	[HotelPropertyId] [int] NULL,
 CONSTRAINT [PK_HotelPropertyConnects] PRIMARY KEY CLUSTERED 
(
	[HotelPropertyConnectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HotelRooms]    Script Date: 5.01.2019 16:44:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HotelRooms](
	[HotelRoomId] [int] IDENTITY(1,1) NOT NULL,
	[HotelId] [int] NULL,
	[RoomTypeId] [int] NULL,
	[AvailableCount] [int] NULL,
	[AvailableFromDate] [datetime] NULL,
	[AvailableToDate] [datetime] NULL,
	[Price] [decimal](8, 2) NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_HotelRooms] PRIMARY KEY CLUSTERED 
(
	[HotelRoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hotels]    Script Date: 5.01.2019 16:44:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotels](
	[HotelId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[CountryId] [int] NULL,
	[CityId] [int] NULL,
	[DistrictId] [int] NULL,
	[Star] [int] NULL,
	[Rating] [decimal](2, 1) NULL,
	[Map] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[CategoryId] [int] NULL,
	[Status] [int] NULL,
	[InsertedDate] [datetime] NULL,
 CONSTRAINT [PK_Hotels] PRIMARY KEY CLUSTERED 
(
	[HotelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomProperties]    Script Date: 5.01.2019 16:44:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomProperties](
	[RoomPropertyId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Status] [int] NULL,
	[InsertedDate] [datetime] NULL,
 CONSTRAINT [PK_RoomProperties] PRIMARY KEY CLUSTERED 
(
	[RoomPropertyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomPropertyConnects]    Script Date: 5.01.2019 16:44:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomPropertyConnects](
	[RoomPropertyConnectId] [int] IDENTITY(1,1) NOT NULL,
	[RoomId] [int] NULL,
	[RoomPropertyId] [int] NULL,
 CONSTRAINT [PK_RoomPropertyConnects] PRIMARY KEY CLUSTERED 
(
	[RoomPropertyConnectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomTypes]    Script Date: 5.01.2019 16:44:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomTypes](
	[RoomTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[BedCount] [int] NULL,
	[PersonCount] [int] NULL,
	[Rebate] [bit] NULL,
	[Status] [int] NULL,
	[InsertedDate] [datetime] NULL,
 CONSTRAINT [PK_RoomTypes] PRIMARY KEY CLUSTERED 
(
	[RoomTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TownV10]    Script Date: 5.01.2019 16:44:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TownV10](
	[TownId] [int] IDENTITY(1,1) NOT NULL,
	[CountryId] [int] NULL,
	[TownName] [nvarchar](250) NULL,
 CONSTRAINT [PK_TownV10] PRIMARY KEY CLUSTERED 
(
	[TownId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CountryV10] ON 

INSERT [dbo].[CountryV10] ([CountryId], [CountryName]) VALUES (1, N'Türkiye')
INSERT [dbo].[CountryV10] ([CountryId], [CountryName]) VALUES (3, N'United States of America')
INSERT [dbo].[CountryV10] ([CountryId], [CountryName]) VALUES (4, N'Germany')
GO
SET IDENTITY_INSERT [dbo].[CountryV10] OFF
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerId], [NameSurname], [Email], [Password], [BirthDate], [Phone], [Address], [CountryId], [CityId], [Status], [InsertedDate]) VALUES (2, N'Amir Karaj', N'amir@gmail.com', N'amir236', CAST(N'1997-10-02' AS Date), N'05532101213', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Customers] ([CustomerId], [NameSurname], [Email], [Password], [BirthDate], [Phone], [Address], [CountryId], [CityId], [Status], [InsertedDate]) VALUES (5, N'Ayşenur Buğdaylıgil', N'aysenurbugdayligil@gmail.com', N'aysenur123', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Customers] OFF
SET IDENTITY_INSERT [dbo].[DistrictV10] ON 

INSERT [dbo].[DistrictV10] ([DistrictId], [CountryId], [TownId], [DistrictName]) VALUES (1, 1, 34, N'Arnavutköy')
INSERT [dbo].[DistrictV10] ([DistrictId], [CountryId], [TownId], [DistrictName]) VALUES (2, 1, 34, N'Ataşehir')
INSERT [dbo].[DistrictV10] ([DistrictId], [CountryId], [TownId], [DistrictName]) VALUES (3, 1, 34, N'Avcılar')
GO
INSERT [dbo].[DistrictV10] ([DistrictId], [CountryId], [TownId], [DistrictName]) VALUES (1026, NULL, NULL, N'BAHÇELİEVLER
')
INSERT [dbo].[DistrictV10] ([DistrictId], [CountryId], [TownId], [DistrictName]) VALUES (1027, NULL, NULL, N'GAYRETTEPE
')
GO
SET IDENTITY_INSERT [dbo].[DistrictV10] OFF
SET IDENTITY_INSERT [dbo].[HotelPhotos] ON 

INSERT [dbo].[HotelPhotos] ([HotelPhotoId], [HotelId], [Photo], [Status], [OrderNumber], [InsertedDate]) VALUES (1, 1, N'degirmennew-1.jpg', 1, 1, CAST(N'2018-12-22T00:00:00.000' AS DateTime))
INSERT [dbo].[HotelPhotos] ([HotelPhotoId], [HotelId], [Photo], [Status], [OrderNumber], [InsertedDate]) VALUES (2, 1, N'degirmennew-2.jpg', 1, 2, CAST(N'2018-12-22T00:00:00.000' AS DateTime))
INSERT [dbo].[HotelPhotos] ([HotelPhotoId], [HotelId], [Photo], [Status], [OrderNumber], [InsertedDate]) VALUES (3, 1, N'degirmen-3.jpg', 1, 3, CAST(N'2018-12-22T00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[HotelPhotos] OFF
SET IDENTITY_INSERT [dbo].[HotelProperties] ON 

INSERT [dbo].[HotelProperties] ([HotelPropertyId], [Title], [Icon], [Status], [InsertedDate]) VALUES (1, N'Çift yataklı odalar', N'flaticon-bed', 1, CAST(N'2018-12-22T00:00:00.000' AS DateTime))
INSERT [dbo].[HotelProperties] ([HotelPropertyId], [Title], [Icon], [Status], [InsertedDate]) VALUES (2, N'Otopark', N'flaticon-car-parking', 1, CAST(N'2018-12-22T00:00:00.000' AS DateTime))
INSERT [dbo].[HotelProperties] ([HotelPropertyId], [Title], [Icon], [Status], [InsertedDate]) VALUES (3, N'Kahvaltı Ofisi ve kahvaltı salonu', N'flaticon-hot-coffee-cup-with-hearts', 1, CAST(N'2018-12-22T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[HotelProperties] OFF
SET IDENTITY_INSERT [dbo].[HotelPropertyConnects] ON 

INSERT [dbo].[HotelPropertyConnects] ([HotelPropertyConnectId], [HotelId], [HotelPropertyId]) VALUES (1, 1, 1)
INSERT [dbo].[HotelPropertyConnects] ([HotelPropertyConnectId], [HotelId], [HotelPropertyId]) VALUES (2, 1, 2)
INSERT [dbo].[HotelPropertyConnects] ([HotelPropertyConnectId], [HotelId], [HotelPropertyId]) VALUES (3, 1, 3)
SET IDENTITY_INSERT [dbo].[HotelPropertyConnects] OFF
SET IDENTITY_INSERT [dbo].[HotelRooms] ON 

INSERT [dbo].[HotelRooms] ([HotelRoomId], [HotelId], [RoomTypeId], [AvailableCount], [AvailableFromDate], [AvailableToDate], [Price], [Status]) VALUES (1, 1, 1, 20, CAST(N'2018-12-30T00:00:00.000' AS DateTime), CAST(N'2019-01-01T00:00:00.000' AS DateTime), CAST(150.00 AS Decimal(8, 2)), 1)
INSERT [dbo].[HotelRooms] ([HotelRoomId], [HotelId], [RoomTypeId], [AvailableCount], [AvailableFromDate], [AvailableToDate], [Price], [Status]) VALUES (2, 1, 2, 20, CAST(N'2018-12-30T00:00:00.000' AS DateTime), CAST(N'2019-02-01T00:00:00.000' AS DateTime), CAST(175.00 AS Decimal(8, 2)), 1)
INSERT [dbo].[HotelRooms] ([HotelRoomId], [HotelId], [RoomTypeId], [AvailableCount], [AvailableFromDate], [AvailableToDate], [Price], [Status]) VALUES (3, 1, 3, 20, CAST(N'2018-12-25T00:00:00.000' AS DateTime), CAST(N'2019-01-02T00:00:00.000' AS DateTime), CAST(50.00 AS Decimal(8, 2)), 1)
GO
SET IDENTITY_INSERT [dbo].[HotelRooms] OFF
SET IDENTITY_INSERT [dbo].[Hotels] ON 

INSERT [dbo].[Hotels] ([HotelId], [Title], [CountryId], [CityId], [DistrictId], [Star], [Rating], [Map], [Description], [Address], [CategoryId], [Status], [InsertedDate]) VALUES (1, N'DEĞİRMEN OTELİ', 1, 34, 6, 3, CAST(3.8 AS Decimal(2, 1)), NULL, N'40 yılı aşkın süredir nice şair ve yazarların tanınmış eserlerini oluştururken, uzun soluklu misafirliklerinde gönüllerinin izlerini bıraktığı, nice dizi ve filmlerin repliklerinin gizli fısıltılarının yankılandığı bir efsane...

Misafirlerine olan hizmet ve lezzet anlayışının deneyimine ilave olarak, teknoloji ve modern çizgilerin zarafetiyle buluştu.

Değirmen Otel, yeni konseptiyle iş arkadaşlarınızla toplantı, kongre, seminerler veya ailenizle tatil için misafir olduğunuzda, lobby`deki bir kahve keyfinde teknoloji ile yeniliğin ince dansını izleyeceksiniz. Ve belki de yıllar önce koridorlarında koşuştururken anne ve babanızın yaptığı romantik dansları, yahut da gördüğünüz bir ünlünün yanağınızı okşamasının heyecanını hatırlayarak, anılarınız canlanacak hafif bir tebessümle...

6500 metrekare üzerine kurulu Değirmen Otel, sizleri sınırsız hizmet ve sonsuz olanaklarla dolu bir deneyime davet ediyor.

Sabiha Gökçen Havaalanı`ndan sadece 50 km uzaklıkta iş gezileriniz, toplantılarınız ve organizasyonlarınız için hazırlanmış 3 adet 200, 100 ve 50 kişilik toplantı salonları, simültane tercüme odası, ses sistemi, barkovizyon ve wireless internet servisi, gurme restoranı ile, iş ve eğitim toplantılarınızı ve davetlerinizi hayal bile edemeyeceğiniz bambaşka bir boyuta taşıyacak...

250 kişilik oturma kapasitesine sahip Değirmen Restaurant; kalitesi ve usta ellerce hazırlanan menüsü ile sizleri olağanüstü bir deneyime davet ediyor.', N'Çavuş Mahallesi, Plaj Sk No:2, 34980 Şile/İstanbul', NULL, NULL, NULL)
INSERT [dbo].[Hotels] ([HotelId], [Title], [CountryId], [CityId], [DistrictId], [Star], [Rating], [Map], [Description], [Address], [CategoryId], [Status], [InsertedDate]) VALUES (2, N'HAREM OTELİ', 1, 34, 30, 3, CAST(3.9 AS Decimal(2, 1)), NULL, N'oğazın en iyi manzarası...

İstanbul''un tüm güzelliklerine yakın, gürültü ve kaosundan uzak, eşsiz bir keyif mekanı Harem Otel''e hoşgeldiniz...

Harem Otel sizlere hizmet kalitesi, konforu ve eşsiz manzarası ile benzersiz bir İstanbul konaklaması vaadediyor.

İşte İstanbulu Yaşamanınn en iyi yolu....', N'Selimiye Mahallesi, Selimiye İskele Cd. No:6, 34668 Üsküdar/İstanbul', NULL, NULL, NULL)
INSERT [dbo].[Hotels] ([HotelId], [Title], [CountryId], [CityId], [DistrictId], [Star], [Rating], [Map], [Description], [Address], [CategoryId], [Status], [InsertedDate]) VALUES (3, N'PEN OTEL', 1, 34, 27, 3, CAST(3.8 AS Decimal(2, 1)), NULL, N'Toplam Oda Sayısı : 24
Ücretsiz Wi-Fi ve restoran içeren Golden Pen Hotel, İstanbul''da konaklama birimleri sunmaktadır. Teraslı ve deniz manzaralı otelin restoranında yemek yiyebilirsiniz.Bu otelin tüm odaları klima ve uydu TV ile donatılmıştır. Odalarda özel banyo vardır.. 

Konforunuz için terlikler ve ücretsiz banyo malzemeleri temin edilir. Otelin özel otoparkını kullanabilirsiniz. Resepsiyon günün 24 saati açıktır. Dolmabahçe Sarayı, Golden Pen Hotel''e 500 metre, Dolmabahçe Saat Kulesi ise 800 metre mesafededir. Taksim Meydanı''na toplu taşıma araçlarıyla sadece 5 dakikada ulaşılabilir. Konuklar Beşiktaş İskelesi''nden 15 dakikada Anadolu Yakası''na geçebilirsiniz. Atatürk Havalimanı ise 17 km uzaklıktadır.', N'Doğu, Ankara Cd. No:219, 34890 Pendik/İstanbul', NULL, NULL, NULL)
INSERT [dbo].[Hotels] ([HotelId], [Title], [CountryId], [CityId], [DistrictId], [Star], [Rating], [Map], [Description], [Address], [CategoryId], [Status], [InsertedDate]) VALUES (4, N'EYFEL OTELİ', 1, 34, 19, 3, CAST(3.4 AS Decimal(2, 1)), NULL, N'İstanbul’un tarihi merkezinde bulunan Hotel Eyfel, ücretsiz Wi-Fi ve düz ekran TV ile donatılmış odalarla hizmet veriyor. Otelin terasında havuz vardır. Laleli tramvay durağı otele sadece 200 metre uzaklıktadır. 
Eyfel Hotel’in tüm odalarında klima, mini bar ve özel banyo bulunur. Bazı odalarda oturma alanı da vardır. ', N'Balabanağa Mahallesi, Kurultay Sk. 19 A, 34134 Fatih/İstanbul', NULL, NULL, NULL)
INSERT [dbo].[Hotels] ([HotelId], [Title], [CountryId], [CityId], [DistrictId], [Star], [Rating], [Map], [Description], [Address], [CategoryId], [Status], [InsertedDate]) VALUES (5, N'WASHİNGTON OTELİ', 1, 34, 19, 3, CAST(4.0 AS Decimal(2, 1)), NULL, N'4 yıldızlı konforlu Grand Washington Hotel, restoranlara, stadyuma yakın olan işlek bölgesinde ideal bir konaklama tesisidir. 6 katlı eski mimari stilindeki otel, 2012 yılında yenilenmiştir.

Tesis Şişli semtinde mükkemel bir yerde konumlanmıştır. Just cafe bar yürüyerek 25 dakika uzaklıktadır. İstanbul şehir merkezi bu konaklama tesisinden 2 km uzaklıktadır.

Mekan, çarşının, marketin, bakkalın yakınındadır.

Otelde mikrodalga fırın, bulaşık makinesi, su ısıtıcısı içeren mutfaklar ve klima, buzdolabı, dolap ile donatılmış ses yalıtımlı odalar sunulmaktadır. Grand Washington Hotel, misafirlerine güzel bir manzara sunmaktadır. Odalarda yağmur duşu, ücretsiz banyo malzemeleri, kurutucu gibi olanakların bulunduğu banyo odaları vardır.

Grand Washington Hotel her gün açık büfe kahvaltı sunuyor. Misafirler tesisteki 24 saat açık restoran restoranında yemek yiyebilirler. Konuklar, meze barında dinlenerek ferahlatıcı içeceklerin tadına bakabilirler. Tesisten 50 metre uzaklıkta bulunan Diana Restaurant & Pub, Venezia Restaurant geniş yelpazede yemekleri servis etmektedir.

Misafirler 20 dakikalık bir sürüş mesafesinde bulunan Atatürk havalimanına kolayca ulaşabilirler.

Bu konaklama tesisi, konukların rahatlaması için buharlı hamamı, Türk hamamını, masajı sunar. Grand Washington Hotel kar kayağı, badminton gibi spor aktiviteleri sunmaktadır.', N'Kemal Paşa Mahallesi, Ağa Ykş. No:5, 34134 Fatih/İstanbul', NULL, NULL, NULL)
INSERT [dbo].[Hotels] ([HotelId], [Title], [CountryId], [CityId], [DistrictId], [Star], [Rating], [Map], [Description], [Address], [CategoryId], [Status], [InsertedDate]) VALUES (6, N'KAYA OTELİ', 1, 34, 19, 3, CAST(3.4 AS Decimal(2, 1)), NULL, N'Odalarımızın tamamında klima, saç kurutma makinesi, mini bar, 24 saat sıcak su, telefon, uydu sistemli tv ve radyo yayını mevcuttur.

Restaurant
360 kişi kapasiteli restaurantımızda 24 saat alakart servisi, gruplarımız için özenle hazırladığımız seçkin mönüler ve güler yüzlü personelimizle sizi ağırlamaktan mutluluk duyacağız.Bar
160 kişi kapasiteli barımızda zengin içecek çeşitlerimizle günün her saatinde nostaljik ve günümüzün modern müzikleri eşliğinde hoş ve keyifli anlar geçireceğimizi umuyoruz.

Ayrıca 120 kışı kapasiteli toplantı salonumuz, 2 adet müşteri, 1 adet servis asansörümüz, lobi-bar’ımız, 150 araç kapasiteli kapalı otoparkımız, ücretsiz kiralık kasalarımız, 24 saat oda servisi faydalanabileceğiniz diğer aktivitelerimiz ile birlikte size sunduğumuz hizmetlerden bazılarıdır.Otelimizin Dışyüzü tamamen yenilenmiştir.', N'Molla Gürani Mahallesi, Fındıkzade Sokağı No:86, 34080 Fatih/İstanbul', NULL, NULL, NULL)
INSERT [dbo].[Hotels] ([HotelId], [Title], [CountryId], [CityId], [DistrictId], [Star], [Rating], [Map], [Description], [Address], [CategoryId], [Status], [InsertedDate]) VALUES (7, N'MY DORA', 1, 34, 22, 3, CAST(4.3 AS Decimal(2, 1)), NULL, N'Toplam Oda Sayısı : 39
1972 yılında İstanbul Kadıköy''de Engin Otel adıyla kurulan tesis 1998 yılında kapasite artışı ile Grand Engin adını almış , 2005 yılnda ise My Dora olarak isim değişikliğine gidilmiştir. Hotel My Dora ; Kadıköy otelleri arasında en eski Turizm İşletme Belgesine sahip olan bir işletmedir.. 

Bizler için misafir memnuniyeti daima ön planda olmuştur. Değişen misafir beklentilerine daima uyum sağlanmaya çalışılmış , bu amaç doğrultusunda 1998 ,2002 ve en son 2013-14 yıllarında geniş kapsamlı rönovasyonlar yapılmıştır. Kadıköy Otelleri hem turistik gezi alanlarıyla, hem ulaşım kolaylıklarıyla hem de tarihi dokularıyla İstanbul''un en çok turist çeken ilçelerinden biri olan Kadıköy, turistler tarafından konaklama amacıyla da tercih edilmektedir.', N'Rasimpaşa Mahallesi, Recaizade Sk. No:6, 34716 Kadıköy/İstanbul', NULL, NULL, NULL)
INSERT [dbo].[Hotels] ([HotelId], [Title], [CountryId], [CityId], [DistrictId], [Star], [Rating], [Map], [Description], [Address], [CategoryId], [Status], [InsertedDate]) VALUES (8, N'AKGÜN OTELİ', 1, 34, 19, 3, CAST(3.8 AS Decimal(2, 1)), NULL, N'Laleli-Üniversite Tramvay Durağı''na 200 metreden daha az bir mesafede yer alan Akgün Hotel, Sultanahmet semtine yürüyerek sadece 15 dakika mesafede, ücretsiz Wi-Fi bulunan odalar sunmaktadır. Lobisinde yer alan bir kokteyl barına sahiptir.Otel, Kapalıçarşı''ya yürüyerek 10 dakikadan biraz daha uzak bir mesafededir. Sultanahmet Camii yürüyerek 20 dakika uzaklıktadır. Yerebatan Sarnıcı''na ve Ayasofya''ya yürüyerek 25 dakikada ulaşabilirsiniz.
Otelin restoranı, zarif mekanında geleneksel Osmanlı ve İstanbul yemekleriyle hizmet vermektedir.

Fatih, anıtlar, müzeler ve dost canlısı insanlar ile ilgilenen gezginler için harika bir seçenek.

Bu, bağımsız değerlendirmelere göre konuklarımızın İstanbul noktasında en beğendikleri kesim.', N'Topkapı Mahallesi, Adnan Menderes Blv. No:43, 34093 Fatih/İstanbul', NULL, NULL, NULL)
INSERT [dbo].[Hotels] ([HotelId], [Title], [CountryId], [CityId], [DistrictId], [Star], [Rating], [Map], [Description], [Address], [CategoryId], [Status], [InsertedDate]) VALUES (9, N'STAR OTELİ', 1, 34, 19, 3, CAST(4.0 AS Decimal(2, 1)), NULL, N'Star Hotel Istanbul, Istanbulun kalbi olan Sultanahmette bulunmaktadır. Sultanahmet Camisi, Ayasofya müzesi,Topkapı sarayı, Kapalı çarşı dahil olmak üzere Türkiyenin ve Istanbulun bir çok ünlü ve değerli tarihi mekanlarına sadece yürüyüş mesafedinde bulunmaktadır.

Otelimizin bahçe kısmında bulunan cafemizde alköllü ve alkölsüz olmak üzere birçok içecek seçeneğimiz yer almaktadır.Ayrıca Türk damak tadında farklı bir yere sahip olan Türk kahvesi, çay, elma çayı gibi sıcak içeceklerimizin yanında Nargile keyfi de yapabilirsiniz.
Deniz ve boğaz manzaralı teras katımızda servis ettiğimiz açık büffe kahvaltımızın tadını çıkarın .

Located in the heart of Istanbul’s old city, Sultanahmet, we are within comfortable walking distance of many of Turkey''s most ancient and famous historic sites including the Blue Mosque, Hagia Sophia, the Basilica Cistern, Topkapi Palace and the Grand Bazaar.', N'Cankurtaran Mh., Akbıyık Cd. No:16, 34400 Fatih/İstanbul', NULL, NULL, NULL)
INSERT [dbo].[Hotels] ([HotelId], [Title], [CountryId], [CityId], [DistrictId], [Star], [Rating], [Map], [Description], [Address], [CategoryId], [Status], [InsertedDate]) VALUES (10, N'BARIN OTELİ', 1, 34, 12, 3, CAST(3.7 AS Decimal(2, 1)), NULL, N'Barin Hotel, İstanbul şehrinin alışveriş bölgesinde yer alır ve 25 dakikalık yürüyüş mesafesinde bulunan Topkapı Sarayı''a kolay ulaşım sağlar. 2012 yılında açıldığından beri bu otel, eski mimari ve mobilyalarıyla 7 katlı binasında konaklama imkânı sunmaktadır.

Barin Hotel ünlü İstanbul Üniversitesi''a çok yakın bulunmakta ve misafirlere havaalanı transfer servisi, ütü hizmeti, hamal hizmeti sunmaktadır. Atatürk Müzesi Şişli yaklaşık 6 km uzaklıkta.

Konuklar, otelin çevresinde çarşıyı, butikleri bulabilirler.

Otel, kişisel iklim kontrolü, uydu televizyonu, özel kasa, ütü odası, müzik sistemi ile donatılmış Türk tarzı odaları kapsamaktadır. Odalarda halı döşeme ve ahşap mobilya vardır.

Her sabah misafirlere restoranda kahvaltı sunulmaktadır. Lobi restoranında uluslararası yemekleri servis edilmektedir. Misafirler, rahatlatıcı içecekleri sunan terastaki barda rahatlayabilirler. Diana Restaurant & Pub, Tashan Garden Restaurant Barin Hotel''den 5 dakikalık yürüyüş mesafesinde bulunmaktadır.

Misafirler Barin Hotel''a Atatürk havalimanından arabayla 20 dakikada ulaşabilirler.', N'Kemal Paşa Mahallesi, No:, Fevziye Cd. No:7, 34470', NULL, NULL, NULL)
INSERT [dbo].[Hotels] ([HotelId], [Title], [CountryId], [CityId], [DistrictId], [Star], [Rating], [Map], [Description], [Address], [CategoryId], [Status], [InsertedDate]) VALUES (11, N'KİLYOS KALE OTELİ', 1, 34, 7, 3, CAST(3.5 AS Decimal(2, 1)), NULL, N'Kilyos Kale Otel, denize 50 metre mesafede, deniz ve dağ manzaralı odaları, açık havuzu, lezzetli menüler sunan restoranı ile İstanbul''da haftasonu güel bir deniz ve tatil keyfi için ideal Kilyos otellerinden birisidir. Kilyos Kale Otel Kapasite: 40 toplam odalı, 90 toplam yataklı, 2 kral dairesi, 4 suit odalı, 34 standart oda. Deniz, dağ manzarası var.	

Kilyos Kale Hotel, denize 50 metre mesafede ve Karadeniz''e bakan bir tepe üzerinde çok güzel bir konumda konuşludur. Otelde açık yüzme havuzu ve tesis genelinde ücretsiz Wi-Fi imkanı bulunmaktadır. Ayrıca, klima, düz ekran uydu TV ve minibarla donatılmış odalar bulunmaktadır. Özel banyolarda duş, saç kurutma makinesi, terlik ve ücretsiz banyo malzemeleri bulunmatadır. 
', N'İstanbul TR, Kale Cd. No:61, 34450 Sarıyer', NULL, NULL, NULL)
INSERT [dbo].[Hotels] ([HotelId], [Title], [CountryId], [CityId], [DistrictId], [Star], [Rating], [Map], [Description], [Address], [CategoryId], [Status], [InsertedDate]) VALUES (12, N'OTEL BENLER', 1, 34, 1024, 3, CAST(4.0 AS Decimal(2, 1)), NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Hotels] ([HotelId], [Title], [CountryId], [CityId], [DistrictId], [Star], [Rating], [Map], [Description], [Address], [CategoryId], [Status], [InsertedDate]) VALUES (13, N'TITANIC COMPORT HOTEL', 1, 34, 427, 3, CAST(3.8 AS Decimal(2, 1)), NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Hotels] ([HotelId], [Title], [CountryId], [CityId], [DistrictId], [Star], [Rating], [Map], [Description], [Address], [CategoryId], [Status], [InsertedDate]) VALUES (14, N'ADEN OTEL', 1, 34, 440, 3, CAST(3.4 AS Decimal(2, 1)), NULL, NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Hotels] OFF
SET IDENTITY_INSERT [dbo].[RoomProperties] ON 

INSERT [dbo].[RoomProperties] ([RoomPropertyId], [Title], [Status], [InsertedDate]) VALUES (1, N'24 Saat Oda Servisi', 1, CAST(N'2018-12-22T00:00:00.000' AS DateTime))
INSERT [dbo].[RoomProperties] ([RoomPropertyId], [Title], [Status], [InsertedDate]) VALUES (2, N'Ücretsiz Wifi', 1, CAST(N'2018-12-22T00:00:00.000' AS DateTime))
INSERT [dbo].[RoomProperties] ([RoomPropertyId], [Title], [Status], [InsertedDate]) VALUES (3, N'Çift Yatak', 1, CAST(N'2018-12-22T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[RoomProperties] OFF
SET IDENTITY_INSERT [dbo].[RoomPropertyConnects] ON 

INSERT [dbo].[RoomPropertyConnects] ([RoomPropertyConnectId], [RoomId], [RoomPropertyId]) VALUES (1, 1, 1)
INSERT [dbo].[RoomPropertyConnects] ([RoomPropertyConnectId], [RoomId], [RoomPropertyId]) VALUES (2, 1, 2)
INSERT [dbo].[RoomPropertyConnects] ([RoomPropertyConnectId], [RoomId], [RoomPropertyId]) VALUES (3, 1, 3)
SET IDENTITY_INSERT [dbo].[RoomPropertyConnects] OFF
SET IDENTITY_INSERT [dbo].[RoomTypes] ON 

INSERT [dbo].[RoomTypes] ([RoomTypeId], [Title], [BedCount], [PersonCount], [Rebate], [Status], [InsertedDate]) VALUES (1, N'Tek Kişilik Oda', 1, 1, 0, 1, CAST(N'2018-12-22T00:00:00.000' AS DateTime))
INSERT [dbo].[RoomTypes] ([RoomTypeId], [Title], [BedCount], [PersonCount], [Rebate], [Status], [InsertedDate]) VALUES (2, N'Standart İki Yataklı Oda', 2, 2, 0, 1, CAST(N'2018-12-22T00:00:00.000' AS DateTime))
INSERT [dbo].[RoomTypes] ([RoomTypeId], [Title], [BedCount], [PersonCount], [Rebate], [Status], [InsertedDate]) VALUES (3, N'İki Kişilik Oda', 2, 2, 0, 1, CAST(N'2018-12-22T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[RoomTypes] OFF
SET IDENTITY_INSERT [dbo].[TownV10] ON 

INSERT [dbo].[TownV10] ([TownId], [CountryId], [TownName]) VALUES (1, 1, N'Adana')
INSERT [dbo].[TownV10] ([TownId], [CountryId], [TownName]) VALUES (2, 1, N'Adıyaman')
INSERT [dbo].[TownV10] ([TownId], [CountryId], [TownName]) VALUES (3, 1, N'Afyonkarahisar')
GO
SET IDENTITY_INSERT [dbo].[TownV10] OFF
